body{
    margin: 0;
    padding: 0;
    background-image: url('../static/look-background.svg');
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 20px 0 0 0;
}

.logo{
    display: flex;
    margin: 0 0 10px 0
}

.forms-container{
    background-color: #fff;
    width: 50rem;
    padding:0 40px ;
}

.forms-inputs-container{
    display: flex;


}

.name-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px 0 4px 0;


}

.content-container{
    margin: 22px 0 0 0;
}



.describtion-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;

}

.mandatory{
    color: red
}

.input-name{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #E2F0FE;
    font-family: 'IBM Plex Sans', sans-serif;
}


.input-pdf-range{
    width: 124px;
    height: 46px;
    background-color: #E2F0FE;
    font-family: 'IBM Plex Sans', sans-serif;
    border-style: none;

}

.pdf-item-range{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    margin: 10px 0 10px 0;


}

.pdf-range-inputs {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 0;

}

.pdf-range-inputs p {

    display: flex;

    align-items: center;

    margin: 0 10px 0 10px;

}






textarea{
    width: 100%;
    border-style: none;
    background-color: #E2F0FE;
    font-family: 'IBM Plex Sans', sans-serif;
}


.button-forms-container{
    margin: 62px 0 20px 0;
    display: flex;

}



.custom-button {
    display: flex;
    width: 281px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px ;
    margin: 0 12px 0 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;


}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    display: flex;
    flex-direction: column;

    width:57.688rem;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.popup > h3{
    color: rgb(52, 51, 51);
}


.button-add-forms{
    background-color: #1CC833;
    color: black;
}

.button-clear-forms{

    background-color: #AEB7AF;
    color: black;

}

.button-delete-forms{
    background-color: #8F0000;
    color: #FFFF;
}

.custom-button:hover{
    background-color: #ffefbc;
}

.button-forms{
    display: flex;
    justify-content: space-between;
}

.pdf-range{
    display: flex;
    flex-direction: column;
}

.cancel-button{
    width: 25.75rem;
}

.confirm-button{
    width:25.75rem;
}

.button-popup-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.alert-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}




.close-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #1CC833;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #fff;
    width: 0;
    border-radius: 5px;
    transition: width 1s linear;
}



.text-container-alert
{
    display: flex;
    flex-direction: row;
}




@media only screen and (max-width: 600px) {






    .forms-inputs-container{
        flex-direction: column;

    }

    .forms-container {
        width: 100%;
        padding: 20px;
    }

    .custom-button {
        width: auto;
        margin: 10px 0 0 0;
    }

    h2, p {
        text-align: center;
    }

    .forms-inputs-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .content-container {
        margin: 10px 0 0 0;
        text-align: center;
    }


    .describtion-container {
        margin: 10px 0 0 0;
    }

    textarea {
        width: 100%;
        margin-top: 5px;
    }

    .button-forms-container {
        margin: 20px 0 10px 0;
        flex-direction: column;
    }


    .button-popup-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }



}